@page
@model WebApplication1.Pages_Players.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Player</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Player.NickName" class="control-label"></label>
                <input asp-for="Player.NickName" class="form-control" />
                <span asp-validation-for="Player.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PlayerCount" class="control-label">Player count</label>
                <input asp-for="@Model.PlayerCount" class="form-control"/>
                <span asp-validation-for="@Model.PlayerCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.AiCount" class="control-label">AI count</label>
                <input asp-for="@Model.AiCount" class="form-control"/>
                <span asp-validation-for="@Model.AiCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
