@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Players</h1>

<h4>How many playing? (including AI)</h4>
@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
}
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-page="Configure">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.PlayerCount" class="control-label">Player count</label>
                <input asp-for="@Model.PlayerCount" class="form-control" value="2"/>
                <span asp-validation-for="@Model.PlayerCount" class="text-danger"></span>
                <input asp-for="@Model.MultipleCardMoves" type="hidden"/>
                <input asp-for="@Model.CardAddition" type="hidden"/>
                <input asp-for="@Model.HandSize" type="hidden"/>
                <input asp-for="@Model.MaxPlayerCount" type="hidden"/>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
