@page
@model CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create Game</h1>

<h4>Configure Rules</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="get">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-check form-switch">
                <label asp-for="@Model.MultipleCardMoves" class="form-check-label" for="flexSwitchCheckDefault">Multiple card moves</label>
                <input asp-for="@Model.MultipleCardMoves" class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">
                <span asp-validation-for="@Model.MultipleCardMoves" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.HandSize" class="control-label">Hand size(2 - 19)</label>
                <input asp-for="@Model.HandSize" class="form-control" />
                <span asp-validation-for="@Model.HandSize" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.CardAddition" class="control-label">Cards to add if no move available(1 - 4)</label>
                <input asp-for="@Model.CardAddition" class="form-control" />
                <span asp-validation-for="@Model.CardAddition" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Configure players" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/Index">Back</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
